{% extends 'web/base.html' %}
{% load static %}
{% block content %}
<section class="position-relative" id="usernameSection">
    <div class="container">
        <form class=" row justify-content-center align-item-center question-form w-50 mx-auto" id="QuestionForm"
            action="{% url 'quizz:result' %}" method="">
            {% for quest in question %}
            <div class="col-12 text-center">
                <h1 class=" tex-capitalize question"> {{quest.question}}</h1>
                {% for options in quest.options %}
                <div class="form-check position-relative text-center mb-3 p-0">
                    <input class="form-check-input float-none option-radio-input" type="radio" 
                        name="questionoption" value="{{options.id}}" id="flexRadioDefault{{options.id}}" >
                    <label class="form-check-label option-label" id="label{{options.id}}"> {{options.option}}</label>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="row">
                <div class=" col-12 text-center">
                    {% if question.has_next %}
                    <a href="?page={{ question.next_page_number }}"
                        class="btn btn-primary quiz-btn text-center next-question-btn " >Next</a>
                    {% else %}
                    <button type="type" class="btn btn-primary quiz-btn text-center"> Submit </button>
                    {% endif %}
                </div>

            </div>
        </form>
    </div>
</section>
{% endblock %}